
#main{
  /* background-color: brown; */
  height: 90px;
  width: 100%;
}
.inputCountry{
  width: 50%;
}

.inputVal{
  width: 20%;
}
.theform {
  
}

/* formulaire d'administration */
.admin_form {
 
  position: relative;
  align-self: center;
  width: 105%;
  height: 105%;
  margin: 20px 30px;
  padding: 0 40px;

}
.formulaire_admin{
  width: 50%;
  margin-top: 10px;
  

}